* {
    background-color: rgb(174, 245, 227);
}

/* .App {
width:100vw;
    height:100vh;
} */

.button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.cash-block {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 15px;
}

.btn {
    background-color: rgb(50, 209, 10);
    width: 200px;
    height: 70px;
    font-size: medium;
    margin: 15px;
} 

.btn-3, .btn-4 {
    background-color: rgb(183, 246, 8);
}

.customers-block {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
